<!-- 左侧栏 -->
<div class="col-md-3 col-md-pull-9">
    <div class="row">
        <div class="col-md-12">
            <form class="b-form-row b-input-search" method="get" action="/">
                <input class="form-control" type="text" placeholder="输入关键字" name="keywords" />
                <button class="b-btn b-btn-search f-btn-search fa fa-search fa-2x"></button>
            </form>
        </div>
    </div>
    <div class="row b-col-default-indent">
        <div class="col-md-12">
            <div class="b-categories-filter">
                <h4 class="f-primary-b b-h4-special f-h4-special--gray f-h4-special">热门文章</h4>
                <ul>
                    <% for(var i=0;i<10;i++) { %>
                        <li>
                            <a class="f-categories-filter_name" href="/<%=hot[i]._id%>.html"><i class="fa fa-plus"></i> <%- hot[i].title %></a>
                            <span class="b-categories-filter_count f-categories-filter_count"><%= hot[i].num %></span>
                        </li>
                        <% } %>
                </ul>
            </div>
        </div>
        <div class="col-md-12">
            <h4 class="f-primary-b b-h4-special  f-h4-special--gray f-h4-special">最新录入</h4>
            <div class="b-blog-short-post b-blog-short-post--img-hover-bordered b-blog-short-post--w-img f-blog-short-post--w-img row">
                <div class="b-blog-short-post b-blog-short-post--img-hover-bordered b-blog-short-post--w-img f-blog-short-post--w-img row">
                    <% for(var  i=0;i<7;i++){ %>
                        <div class="b-blog-short-post--popular col-md-12  col-xs-12 f-primary-b">
                            <% if(news[i].pic){ %>
                                <div class="b-blog-short-post__item_img">
                                    <a href="/<%=news[i]._id%>.html"><img data-retina src="<%= news[i].pic %>" alt=""/></a>
                                </div>
                                <%}%>
                                    <div class="b-remaining">
                                        <div class="b-blog-short-post__item_text f-blog-short-post__item_text">
                                            <a href="/<%=news[i]._id%>.html">
                                                <%- news[i].title %>
                                            </a>
                                        </div>
                                        <div class="b-blog-short-post__item_date f-blog-short-post__item_date f-primary-it">
                                            <%= news[i].addtime %>
                                        </div>
                                    </div>
                        </div>
                        <%}%>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <h4 class="f-primary-b b-h4-special f-h4-special--gray f-h4-special">标签 分类</h4>
            <div>
                <%for(var i=0;i<type.length;i++){%>
                    <a class="f-tag b-tag" href="/?type=<%= type[i].typename%>">
                        <%= type[i].typename %>
                    </a>
                    <%}%>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>
</div>
<!-- //底部内容 -->
<footer>
    <div class="b-footer-primary">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 col-xs-12 f-copyright b-copyright">Copyright &copy; 2018.Company name All rights reserved.<a target="_blank" href="http://www.moke8.com/html/"></a></div>
                <div class="col-sm-8 col-xs-12">
                    <div class="b-btn f-btn b-btn-default b-right b-footer__btn_up f-footer__btn_up j-footer__btn_up">
                        <i class="fa fa-chevron-up"></i>
                    </div>
                    <nav class="b-bottom-nav f-bottom-nav b-right hidden-xs">
                        <ul>
                            <li><a href="#">Homepage</a></li>
                            <li class="is-active-bottom-nav"><a href="#">Headers</a></li>
                            <li><a href="#">Portfolio</a></li>
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">Pages</a></li>
                            <li><a href="#">Shortcode</a></li>
                            <li><a href="#">Shop</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="b-footer-secondary row">
            <div class="col-md-3 col-sm-12 col-xs-12 f-center b-footer-logo-containter">
                <div class="b-footer-logo-text f-footer-logo-text">
                    <p>Mauris rhoncus pretium porttitor. Cras scelerisque commodo odio.</p>
                    <div class="b-btn-group-hor f-btn-group-hor">
                        <a href="#" class="b-btn-group-hor__item f-btn-group-hor__item">
              <i class="fa fa-twitter"></i>
            </a>
                        <a href="#" class="b-btn-group-hor__item f-btn-group-hor__item">
              <i class="fa fa-facebook"></i>
            </a>
                        <a href="#" class="b-btn-group-hor__item f-btn-group-hor__item">
              <i class="fa fa-dribbble"></i>
            </a>
                        <a href="#" class="b-btn-group-hor__item f-btn-group-hor__item">
              <i class="fa fa-behance"></i>
            </a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-12 col-xs-12">
                <h4 class="f-primary-b">Latest blog posts</h4>
                <div class="b-blog-short-post row">
                    <div class="b-blog-short-post__item col-md-12 col-sm-4 col-xs-12 f-primary-b">
                        <div class="b-blog-short-post__item_text f-blog-short-post__item_text">
                            <a href="#">Amazing post with all the goodies</a>
                        </div>
                        <div class="b-blog-short-post__item_date f-blog-short-post__item_date">
                            March 23, 2017
                        </div>
                    </div>
                    <div class="b-blog-short-post__item col-md-12 col-sm-4 col-xs-12 f-primary-b">
                        <div class="b-blog-short-post__item_text f-blog-short-post__item_text">
                            <a href="#">Amazing post with all the goodies</a>
                        </div>
                        <div class="b-blog-short-post__item_date f-blog-short-post__item_date">
                            March 23, 2017
                        </div>
                    </div>
                    <div class="b-blog-short-post__item col-md-12 col-sm-4 col-xs-12 f-primary-b">
                        <div class="b-blog-short-post__item_text f-blog-short-post__item_text">
                            <a href="#">Amazing post with all the goodies</a>
                        </div>
                        <div class="b-blog-short-post__item_date f-blog-short-post__item_date">
                            March 23, 2017
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-12 col-xs-12">
                <h4 class="f-primary-b">contact info</h4>
                <div class="b-contacts-short-item-group">
                    <div class="b-contacts-short-item col-md-12 col-sm-4 col-xs-12">
                        <div class="b-contacts-short-item__icon f-contacts-short-item__icon f-contacts-short-item__icon_lg b-left">
                            <i class="fa fa-map-marker"></i>
                        </div>
                        <div class="b-remaining f-contacts-short-item__text">
                            Frexy Studio
                            <br/> 1234 Street Name, City Name,
                            <br/> United States.
                            <br/>
                        </div>
                    </div>
                    <div class="b-contacts-short-item col-md-12 col-sm-4 col-xs-12">
                        <div class="b-contacts-short-item__icon f-contacts-short-item__icon b-left f-contacts-short-item__icon_md">
                            <i class="fa fa-skype"></i>
                        </div>
                        <div class="b-remaining f-contacts-short-item__text f-contacts-short-item__text_phone">
                            Skype: ask.company
                        </div>
                    </div>
                    <div class="b-contacts-short-item col-md-12 col-sm-4 col-xs-12">
                        <div class="b-contacts-short-item__icon f-contacts-short-item__icon b-left f-contacts-short-item__icon_xs">
                            <i class="fa fa-envelope"></i>
                        </div>
                        <div class="b-remaining f-contacts-short-item__text f-contacts-short-item__text_email">
                            <a href="mailto:frexystudio@gmail.com">mail@example.com</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-12 col-xs-12 ">
                <h4 class="f-primary-b">photo stream</h4>
                <div class="b-short-photo-items-group">
                    <div class="b-column">
                        <a class="b-short-photo-item fancybox" href="/index/img/gallery/sm/gallery_1.jpg" title="photo stream" rel="footer-group"><img width="62" height="62" data-retina src="/index/img/gallery/sm/gallery_1.jpg" alt=""/></a>
                    </div>
                    <div class="b-column">
                        <a class="b-short-photo-item fancybox" href="/index/img/gallery/sm/gallery_2.jpg" title="photo stream" rel="footer-group"><img width="62" height="62" data-retina src="/index/img/gallery/sm/gallery_2.jpg" alt=""/></a>
                    </div>
                    <div class="b-column">
                        <a class="b-short-photo-item fancybox" href="/index/img/gallery/sm/gallery_3.jpg" title="photo stream" rel="footer-group"><img width="62" height="62" data-retina src="/index/img/gallery/sm/gallery_3.jpg" alt=""/></a>
                    </div>
                    <div class="b-column">
                        <a class="b-short-photo-item fancybox" href="/index/img/gallery/sm/gallery_4.jpg" title="photo stream" rel="footer-group"><img width="62" height="62" data-retina src="/index/img/gallery/sm/gallery_4.jpg" alt=""/></a>
                    </div>
                    <div class="b-column">
                        <a class="b-short-photo-item fancybox" href="/index/img/gallery/sm/gallery_5.jpg" title="photo stream" rel="footer-group"><img width="62" height="62" data-retina src="/index/img/gallery/sm/gallery_5.jpg" alt=""/></a>
                    </div>
                    <div class="b-column">
                        <a class="b-short-photo-item fancybox" href="/index/img/gallery/sm/gallery_6.jpg" title="photo stream" rel="footer-group"><img width="62" height="62" data-retina src="/index/img/gallery/sm/gallery_6.jpg" alt=""/></a>
                    </div>
                    <div class="b-column">
                        <a class="b-short-photo-item fancybox" href="/index/img/gallery/sm/gallery_7.jpg" title="photo stream" rel="footer-group"><img width="62" height="62" data-retina src="/index/img/gallery/sm/gallery_7.jpg" alt=""/></a>
                    </div>
                    <div class="b-column">
                        <a class="b-short-photo-item fancybox" href="/index/img/gallery/sm/gallery_8.jpg" title="photo stream" rel="footer-group"><img width="62" height="62" data-retina src="/index/img/gallery/sm/gallery_8.jpg" alt=""/></a>
                    </div>
                    <div class="b-column hidden-xs">
                        <a class="b-short-photo-item fancybox" href="/index/img/gallery/sm/gallery_9.jpg" title="photo stream" rel="footer-group"><img width="62" height="62" data-retina src="/index/img/gallery/sm/gallery_9.jpg" alt=""/></a>
                    </div>
                    <div class="b-column hidden-sm hidden-xs">
                        <a class="b-short-photo-item fancybox" href="/index/img/gallery/sm/gallery_10.jpg" title="photo stream" rel="footer-group"><img width="62" height="62" data-retina src="/index/img/gallery/sm/gallery_10.jpg" alt=""/></a>
                    </div>
                    <div class="b-column hidden-sm hidden-xs">
                        <a class="b-short-photo-item fancybox" href="/index/img/gallery/sm/gallery_11.jpg" title="photo stream" rel="footer-group"><img width="62" height="62" data-retina src="/index/img/gallery/sm/gallery_11.jpg" alt=""/></a>
                    </div>
                    <div class="b-column hidden-sm hidden-xs">
                        <a class="b-short-photo-item fancybox" href="/index/img/gallery/sm/gallery_12.jpg" title="photo stream" rel="footer-group"><img width="62" height="62" data-retina src="/index/img/gallery/sm/gallery_12.jpg" alt=""/></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<script src="/index/js/jquery/jquery-1.11.1.min.js"></script>
<!-- bootstrap -->
<script src="/index/js/bootstrap.min.js"></script>
<!-- end bootstrap -->
<!-- Modules -->
<script src="/index/js/modules/color-themes.js"></script>
<!-- End Modules -->
<!-- Google services -->
<!---<script type="text/javascript" src="https://www.google.com/jsapi?autoload={'modules':[{'name':'visualization','version':'1','packages':['corechart']}]}"></script>--->
<!-- end Google services -->
<!-- Fancybox -->
<script src="/index/js/fancybox/jquery.fancybox.pack.js"></script>
<script src="/index/js/fancybox/jquery.mousewheel.pack.js"></script>
<script src="/index/js/fancybox/jquery.fancybox.custom.js"></script>
<!-- End Fancybox -->
<script src="/index/js/cookie.js"></script>
</body>

</html>